body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #326d8f;
    font-family:'Orbitron', sans-serif;
}

#grid {
    width: 760px;
    height: 760px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 90px;
    height: 90px;
    cursor: grab;
}
#controllers {
    width: 760px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#timer {
    width: 120px;
    font-size: 35px;
    background-color: #b3dae9;
    color: #5db3db;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
#player {
    font-size: 35px;
    width: 150px;
    height: 45px;
    color: #5db3db;
    background-color: #b3dae9;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.cell pre {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    z-index: 1; /* Keep the characters under the images */
    margin: 0;
    padding: 70px 80px;
    font-weight: bold;
}

img {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align perfectly center */
    z-index: 2; /* Ensure images are above characters */
}

.cell {
    position: relative; /* Make the cell a positioning context */
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
