body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #326d8f;
    font-family:'Orbitron', sans-serif;
}

#grid {
    width: 760px;
    height: 760px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 90px;
    height: 90px;
    z-index: 1;
    position: absolute;
    cursor: grab;
    padding: 0 5px 5px 0;
}
#controllers {
    width: 760px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#timer {
    width: 120px;
    font-size: 35px;
    background-color: #b3dae9;
    color: #5db3db;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
#player {
    font-size: 35px;
    width: 150px;
    height: 45px;
    color: #5db3db;
    background-color: #b3dae9;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.cell {
    position: relative; 
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}

.numeric {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.alfabetic {
    position: absolute;
    top: 5px;
    left: 5px;
}